/* Navbar */
.navbar {
    background-color: #ff971e;
}
.navbar-dark .navbar-nav .nav-link{
    font-size: 14px;
    font-weight: 400;
    color: #fff;  
}

/* Content */
.JP {
    margin-top: 20px;
}

.card-header {
    background-color: #ff971e;
}
